.brand{
	font-size:30px;
}
.navbar-custom{
	background-color:#FFC900;
}
.navbar-brand-color{
		color:#222;
}
.nav-btn{
	color:black;
}
.btn-booking{
	color:black;
	background-color:#23a393;
}
.btn-booking:hover{
	color:white;
}
.btn-login{
	color:white;
	background-color:grey;
}
.btn-login:hover{
	color:black;
}
.list{
	list-style-type:none;
}
.text-white:hover{
	color:
}
.vid-container{
  position:relative;
  height:100vh;
  overflow:hidden;
}
.bgvid{
  position:absolute;
  left:0;
  top:0;
  width:100vw;
  filter: url("data:image/svg+xml;utf9,<svg%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'><filter%20id='blur'><feGaussianBlur%20stdDeviation='10'%20/></filter></svg>#blur");
  -webkit-filter:blur(10px);
  -ms-filter: blur(10px);
  -o-filter: blur(10px);
  filter:blur(10px);
}
.box{
  position:absolute;
  height:100%;
  width:100%;
  font-family:Helvetica;
  color:white;
  background:rgba(0,0,0,0.13);
  padding:30px 0px;
}
.box h1{
  color:white;
  text-align:center;
  margin:30px 0;
  font-size:40px;
}
.box h3{
  color:white;
  text-align:center;
  margin:30px 0;
  font-size:30px;
}
.box button{
  color:white;
  background:#FFC900;
  border:0;
  font-weight:bold;
  color:#fff;
  padding:10px;
  font-size:12px;
  width:135px;
  margin:20px auto;
  display:block;
  cursor:pointer;
}
.box button:active{
  color:white;
  background:#FFC900;
}
.box p{
  color:white;
  font-size:14px;
  text-align:center;
}
.btn-white{
	color:white;
}
.btn-white:hover{
	color:white;
}
.btn-news{
	padding:50px;
}
._list li{
	display:inline-block;
	padding:50px;
}
.paras{
	font-size:11px;
}
footer h3{
	color:white;
	font-size:18px;
}
footer ul li{
	list-style-type:none;
}
footer ul li a{
	color:white;
	font-size:14px;
}
footer ul li a:hover{
	color:white;
}
footer .copy{
	margin-left:-15px;
}
footer .copy li{
	padding:0 30px;
	color:white;
	list-style-type:none;
	display:inline-block;
}